body{
	background: url(./game.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.numbers{
	background: #9c676787;
	border-radius: 40px;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	width: 620px;
}
.number{
	display: flex;
	justify-content: center;
	align-items: center;
	color:rgb(229, 194, 148);
	background: #a27070;
	font-size: 50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.number:hover{
	transform: scale(1.3);
	cursor: pointer;
}
form{
	display: flex;
	flex-direction: column;
	gap: 50px 0;
	align-items: center;
	padding: 50px;
	background: #171616a6;
	width: 50%;
	height: 40%;
	color: white;
	font-size: 50px;
}
